<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Empresa{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'empresa/css/styles.css' %}">
</head>
<body>
    
    <header>
        <h1>Crear Usuarios</h1>
        <nav>
            <a href="{% url 'inicio' %}">Inicio</a> |
            <a href="{% url 'nuevo_encargado' %}">Nuevo Encargado</a> |
            <a href="{% url 'nuevo_empleado' %}">Nuevo Empleado</a> |
            <a href="{% url 'nuevo_cliente' %}">Nuevo Cliente</a> |
            <a href="{% url 'buscar_cliente' %}">Buscar Cliente</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>