{% extends 'base.html' %}
{% load static %}

{% block title %}Buscar Cliente{% endblock %}

{% block content %}
<h2>Buscar Cliente por Nombre</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>

{% if clientes %}
    <h3>Resultados:</h3>
    <ul>
    {% for cliente in clientes %}
        <li>{{ cliente.nombre }} - {{ cliente.apellido }} ({{ cliente.telefono }})</li>
    {% endfor %}
    </ul> 
{% elif clientes is not none %}
        <li>No se encontraron clientes.</li>
{% endif %}
    

{% endblock %}
