{% extends 'base.html' %}
    {% load static %}
    
{% block title %}Inicio{% endblock %}

{% block content %}

<!-- ABOUT -->
  <section id="about" class="py-5">
    <div class="container">
      <h2 class="text-center mb-4">¿Quiénes somos?</h2>
      <p class="text-center">Somos una empresa dedicada a brindar servicios innovadores de tecnología, adaptándonos a las necesidades de nuestros clientes para lograr el éxito en sus negocios.</p>
    </div>
  </section>
<p>Usa el menú para crear y buscar datos.</p>

 
{% endblock %}